<section class="categories-show">

  <header class="page-header">
  </header>

  <div class="">
    <%= render @categories %>

  </div>
  <%= link_to '+ New Cateogry', [:new, :admin, :category], class: 'btn btn-info' %>

</section>
